{% extends '@App/layout.html.twig' %}

{% block title %}Erreur 500 - {{ parent() }}{% endblock %}

{% block content %}
    <section class="http-error">
        <div class="row justify-content-center padding-bottom-3">
            <h1 class="h1 text-center">Erreur 500 : Erreur interne du serveur</h1>
        </div>

        <section class="alert alert-danger" role="alert">
            <div class="row text-center justify-content-center padding-bottom-3">
                <p class="http-infos text-center">Une erreur inattendue s'est produite.</p>
            </div>

            <div class="row text-center justify-content-center">
                <p>
                    <a href="{{ path('homepage') }}" class="btn btn-primary">Accueil</a>
                </p>
            </div>
        </section>
    </section>
{% endblock %}